
#MenuClose {
}


#MenuLeftClose {
    display: flex;
    flex-direction: column;
    color: #FFFF;
    text-decoration: none;
    background-color:rgb(34, 32, 32, 0.97);
    width: 6vw;
}

#UlMenu {
    padding: 0;
    margin: 0;
    justify-content: center;
    position: sticky;
    top: 8%;
}

.Link {
    border-bottom: ridge 1px rgba(10, 10, 10, 0.9);
    margin-bottom: 0%;
}


.MenuImgClose {
    width: 30%;
    margin-top: 14%;
}

.active {
    color: white;
}


.LiMenuClose:hover{
    background-color: rgb(77, 75, 75);
}

.LiMenuClose2:hover{
    background-color: rgb(77, 75, 75);
}


.LiMenuClose{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LiMenuClose2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MenuLinkClose {
    font-size: 0.53rem;
    color: white;
    text-decoration-line: none;
    line-height: 2.1rem;
}

#UlFooterClose {
    display: none;
}


.LinkFoot {
    text-decoration: none;
    color: #FFFFFF;
}

.H5Close {
    margin: 0;
}