#MenuLeftOpen {
    display: flex;
    flex-direction: column;
    color: #FFFF;
    background-color:rgb(34, 32, 32, 0.97);
    width: 15vw;
}

#UlMenu {
    justify-content: center;
}

.Link {
    border-bottom: ridge 1px rgba(10, 10, 10, 0.9);
}

.MenuImgOpen {
    height: 50%;
    width: 12%;
    margin-left: 15%;
}

.active {
    color: white;
}

.LiMenuOpen{
    display:flex;
    align-items: center;
    margin-bottom: 5%;
    height: 10%;
    margin-top: 5%;
}

.LiMenuOpen:hover{
    background-color: rgb(77, 75, 75);
}

.LiMenuOpen2:hover{
    background-color: rgb(77, 75, 75);
}

.LiMenuOpen2{
    display:flex;
    align-items: center;
    margin-bottom: 5%;
    height: 10%;
    margin-top: 5%;
}

.h5Menu{
    margin-left: 15%;
}

.MenuLinkOpen {
    color: white;
    text-decoration-line: none;
    font-size: 1.2rem;
    line-height: 2.1rem;
}

#UlFooterOpen {
    list-style: none;
    display: flex;
    font-size: 0.6rem;
    margin-top: 90%;
}

.LiFooter {
margin-left: 30%;
}

.LinkFoot {
    text-decoration: none;
    color: #FFFFFF;
}