.CategoList {
    height: 35%;
    width: 55%;
    margin-left: 5%;
    margin-bottom: 7%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.realContainer {
    margin-left: 30px;
    height: 91.5%;
    overflow-y: scroll;
    margin-bottom: 25px;
    scrollbar-color: yellow blue;
    scrollbar-color: #87ceeb #ff5621;
    scrollbar-color: auto;
    margin-top: 0.2%;
}

.realContainer::-webkit-scrollbar
{
	-webkit-box-shadow: inset 0 0 6px rgba(150, 150, 150, 0.151);
	border-radius: 10px;
    background-color: rgb(40, 40, 40);

}

#style-1
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.force-overflow
{
	min-height: 450px;
}


.categoH2 {
}